{% extends "commons/Evc_base.html" %}
{% load static %}
{% load humanize %}
{% load param_extras %}

{% block link_block %}
<link rel="stylesheet" type="text/css" href="{% static 'Evc_css/FE_EviList.css' %}?250120">
{% endblock %}
{% block script_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'js/dialog.min.js' %}" defer></script>
<script src="{% static 'js/Evc_evilist.min.js' %}?241209" defer></script>
<script src="{% static 'js/Evc_price_input.min.js' %}?260226" defer></script>
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <main>
    <div id="s-toggle" class="sp">
      <span class="material-symbols-outlined">search</span>
    </div>
    <div class="h1-wrapper">
      <h1 class="sub-title">{{ process_title }}</h1>
      {% comment "下記の部分はコメントアウト" %}
      <a href='{{ help_url }}' target="_blank" rel="noopener noreferrer" class="evc-help" ></a>
      {% endcomment%}
    </div>

    <div id="form-area">
      <div class="search-header">
        <h2>条件検索</h2>
        <input type="button" value='全クリア' class="chk" id="chkid" onClick="clear_all();">
        <span id="search-wrap">
          <input type="button" class='search' onclick="PdfList()" value="検索">
        </span>
        <!-- <input type="submit" value="検索" > -->
        <!-- <input type="submit" onclick="EviHistoryList()" value="検索" > -->
        {% if user.user_authority != "一般" %}
          <input type="button" value='重複検索' class="chk" id="btn_duplicate" onClick="duplicateList();">
        {% endif %}
        {% comment "下記の部分はコメントアウト" %}
        {% endcomment%}
        <label id="export" class="sp-hidden">
          <a href="{% url 'Evc_App:export_evi_csv' %}?{{ request.GET.urlencode }}">
            <span class="material-symbols-outlined">download</span>
            CSVダウンロード
          </a>
        </label> 
        {% comment "下記の部分はコメントアウト" %}
        <label id="export" class="sp-hidden">
            <a href="javascript:void(0)" id="btn_dropdown">
              <span class="material-symbols-outlined">download</span>
              CSVダウンロード
            </a>
            <nav class="dropdown" id="dropdown">
              <ul>
                <li>
                  <a href="{% url 'Evc_App:export_evi_csv' %}?{{ request.GET.urlencode }}">
                    <span class="material-symbols-outlined">download</span>
                    EVC
                  </a>
                </li>
                <li>
                  <a tabindex="-1">
                  <!-- <a href="javascript:void(0)"> -->
                    <span class="material-symbols-outlined">download</span>
                    ミロク
                  </a>
                </li>
              </ul>
            </nav>
        </label> 
        {% endcomment%}
      </div>
      <form name="SearchForm" id="searchForm" method="get">
      {% comment "下記の部分はコメントアウト" %}
      {% csrf_token %}
      {% endcomment%}
        <div class="s-file">
          <h3>ファイル情報</h3>
          <div class="s-flex">
            {{ form.pdf_name }}
            <div class="date-wrapper">
              <label for="id_create_date" class="s-label date">処理年月日</label>
              {{ form.create_date }}
              {% comment "下記の部分はコメントアウト" %}
              <label for="id_shori_date" class="s-label date">処理年月</label>
              {{ form.shori_date }}
              <!-- <input type="month" name="month" id="month" min="2020-01" max="{{ max_month }}" value="{{ month }}"> -->
              {% endcomment%}
            </div>
          </div>
          <div class="s-flex">
            <div class="s-date">
              <label class="s-label">処理日</label>
              <div class="s-radio-body">
                {% for kubun in form.today_kubuns %}
                <label>
                  {{ kubun.tag }}
                  <span>{{ kubun.choice_label }}</span>
                </label>
                {% endfor %}
              </div>
            </div>
            {% if user.user_authority != "一般" %}
            <div class="s-user">
              <label class="s-label">ユーザ</label>
              <div class="s-radio-body">
                {% for kubun in form.user_kubuns %}
                <label>
                  {{ kubun.tag }}
                  {{ kubun.choice_label }}
                </label>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <input type="hidden" name="user_kubuns" value="loginuser">
            {% comment "下記の部分はコメントアウト" %}
            <div class="s-user" style="visibility:hidden;">
              <label class="s-label">ユーザ</label>
              <div class="s-radio-body">
                <label>
                  <input type="radio" name="user_kubuns" value="loginuser" id="id_user_kubuns_0" checked>
                  ログインユーザ
                </label>
                <label>
                  <input type="radio" name="user_kubuns" value="none" id="id_user_kubuns_1">
                  指定なし
                </label>
              </div>
            </div>
            {% endcomment%}
            {% endif %}
          </div>
          {% if user.user_authority != "一般" %}
            {% if duplicate_info %}
            <p class="duplicate sp-hidden">
              重複データがあります。
              <input type="button" value='確認' class="chkdup" id="dupid" onClick="duplicate();">
            </p>
            {% endif %}
          {% endif %}
          {% comment "下記の部分はコメントアウト" %}
          {% for choice in form.duplist %}
          {{ choice.choice_label }}
          {{ choice.tag }}
          {% endfor %}
          {% endcomment%}
        </div>

        <div class="read">
          <h3>読取情報</h3>
          <div class="s-flex">
            <div class="select-wrapper category">
              {{ form.category }}
              <!-- {{ form.category.errors }} -->
            </div>
            <div class="slip_number">
              {{ form.slip_number}}
            </div>
            <div class="select-wrapper category">
              {{ form.account_choice }}
            </div>
            <!-- {{ form.partner }} -->
            <!-- {{ form.partner.errors }} -->
          </div>
          <div class="s-flex">
            {{ form.partner }}
            <!-- {{ form.partner.errors }} -->
            {{ form.publisher }}
            <!-- {{ form.publisher.errors }} -->
          </div>
          <label for="id_process_date1" class="s-label">取引日</label>
          <div class="s-flex">
            <div class="s-r-date">
              {{ form.process_date1 }}
              <!-- {{ form.process_date1.errors }} -->
              <span>～</span>
              {{ form.process_date2 }}
              <!-- {{ form.process_date2.errors }} -->
            </div>
            <div class="s-r-amount">
              {% comment "下記の部分はコメントアウト" %}
              {{ form.amount1 }}
              <!-- {{ form.amount1.errors }} -->
              <span>～</span>
              {{ form.amount2 }}
              <!-- {{ form.amount2.errors }} -->
              {% endcomment%}
              {{ form.amount }}
              <!-- {{ form.amount.errors }} -->
              <div class="select-wrapper">
                {{ form.amount_choice }}
                <!-- {{ form.amount_choice.errors }} -->
              </div>
            </div>
          </div>
        </div>
        <p class="s-note">*テキスト入力欄には、検索したいキーワードを入力して下さい。</p>
        <input type="hidden" id="evi_id" name="evi_id">
        <input type="hidden" id="act" name="act">
        <input type="hidden" id="id_url" data-url="{% url 'Evc_App:get_duplicate_info' %}" />
        {{ form.page_size }}
        {{ form.duplist }}
      </form>
    </div>
    {% comment "下記の部分はコメントアウト" %}
    <script type="text/javascript">
      //処理を適用するテキストボックスへのイベント設定
      //onBlur : カンマ削除処理実施
      const elm = document.getElementById('id_amount');
      elm.addEventListener('blur', function(){ this.value = numtolocale(this.value) }, false);
      // var elm1 = document.getElementById('id_amount1');
      // var elm2 = document.getElementById('id_amount2');
      // elm.addEventListener('blur', function(){ this.value = delFigure(this.value) }, false);
      //onBlur : カンマ処理実施
      // elm1.addEventListener('blur', function(){ this.value = numtolocale(this.value) }, false);
      // elm2.addEventListener('blur', function(){ this.value = numtolocale(this.value) }, false);
  
      //入力値のカンマを取り除いて返却
      //[引数]   strVal: 半角でカンマ区切りされた数値
      //[返却値] String(): カンマを削除した数値
      function delFigure(strVal){
        return strVal.replace( /,/g , "" );
      }
      // 3桁のカンマ区切りにする
      function numtolocale(strVal) {
        if (typeof strVal !== "string") return strVal;
        const numstr = strVal.replace(/,/g, "").trim();
        if (numstr === "") return "";
        const num = Number(numstr);
        if (!Number.isFinite(num)) return strVal;
        return num.toLocaleString();
      }
    </script>
    {% endcomment%}
    <dialog id="del-record">
      <span class="material-symbols-outlined">
        warning
      </span>
      <p>このレコード（行）を削除します。<br>よろしいですか？</p>
      <div class="btn-area">
        <button id="close">キャンセル</button>
        <button id="delete">削除</button>
      </div>
    </dialog>

    <table class="ev-table tablesorter"  id="ev_table">
	    <thead>
      <tr>
        <th class="th-pointer">No.<span class="arrow"></span></th>
        <th>ファイル名</th>
        <th>
          <div>処理年月日</div>
          <div>作成者</div>
        </th>
        <th>
          <div>カテゴリ</div>
          <div>伝票番号</div>
        </th>
        {% comment "下記の部分はコメントアウト" %}
        <th>カテゴリ</th>
        {% endcomment%}
        <th>金額</th>
        {% comment "下記の部分はコメントアウト" %}
        <th>
          <div>金額</div>
          <div>支払日</div>
        </th>
        {% endcomment%}
        <th>
          <div>取引先</div>
          <div>発行元</div>
        </th>
        <th>
          <div>科目</div>
          <div>摘要</div>
        </th>
        {% comment "下記の部分はコメントアウト" %}
        <th>
          <div class="th-pointer">取引日<span class="arrow"></span></div>
        </th>
        {% endcomment%}
        <th class="th-pointer">取引日<span class="arrow"></span></th> 
        <th>結果</th> 
      </tr>
      </thead>
      <tbody>
      {% for item in object_list %}
      <tr data-href="{% url 'Evc_App:sconcreate' item.evi_id %}">
        <td>{{item.item_no}}</td>
        <td>
          <p>{{item.pdf_name}}</p>
          <div class="tooltip sp-hidden"  id="open">
            <span class="material-symbols-outlined">
              delete
            </span>
            <p class="description">削除</p>
          </div>
        </td>
        <td>
          <div>{{item.create_date}}</div>
          <div>{{item.user_name}}</div>
          <div class="delete-sp sp" id="open">
            <span class="material-symbols-outlined">delete</span>
            <span>削除</span>
          </div>
        </td> 
        <td>
          <div>{{item.category_name}}</div>
          <div>{{item.slip_number}}</div>
        </td>
        {% comment "下記の部分はコメントアウト" %}
        <td>{{item.category_name}}</td>
        {% endcomment%}
        <td>{{item.total_amount|intcomma }}</td>
        {% comment "下記の部分はコメントアウト" %}
        <td>
          <div>{{item.total_amount|intcomma }}</div>
          <div class="payment_date">{{item.payment_date}}</div>
        </td> 
        {% endcomment%}
        <td>
          <div class="partner row">{{item.partner_name}}</div>
          <div class="publisher row">{{item.publisher_name}}</div>
        </td> 
        <td>
          <div class="account">{{item.account_name}}</div>
          <div class="account_desc">{{item.account_desc}}</div>
        </td> 
        {% comment "下記の部分はコメントアウト" %}
        <td>
          <div class="processed_date">{{item.processed_date}}</div>
        </td> 
        {% endcomment%}
        <td>{{item.processed_date}}</td>
        <td {% if item.result == "NG" %} class="result-red" {% endif %}>{{item.result}}</td> 
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <nav>
      {% if is_paginated %}
      <ul class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% query_replace request 'page' page_obj.previous_page_number %}">              
              <span aria-hidden="true" class="material-symbols-outlined arrow">navigate_before</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link inactive" href="#">              
              <span aria-hidden="true" class="material-symbols-outlined arrow">navigate_before</span>
            </a>
          </li>
        {% endif %}
        <!-- 数字の部分 -->
        <!-- if 3 < page_obj.number -->
        {% if 2 < page_obj.number %}
          <li class="page-num">
            <a class="page-link" href="?{% query_replace request 'page' 1 %}">1</a>
          </li>
        {% endif %}
        <!-- if 4 < page_obj.number -->
        {% if 3 < page_obj.number %}
          <li>…</li>
        {% endif %}
        {% for num in page_obj.paginator.page_range  %}
        <!-- page_obj.number|add:-2 <= num and num <= page_obj.number|add:2 -->
          {% if page_obj.number|add:-1 <= num and num <= page_obj.number|add:1 %}
            {% if page_obj.number == num %}
              <li class="page-num active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
              <li class="page-num"><a class="page-link" href="?{% query_replace request 'page' num %}">{{ num }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <!-- add:3 -->
        {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}
          <li>…</li>
        {% endif %}
        <!-- add:2  %} -->
        {% if page_obj.number|add:1 < page_obj.paginator.num_pages %}
          <li class="page-num">
            <a class="page-link" href="?{% query_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
          </li>
        {% endif %}

        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% query_replace request 'page' page_obj.next_page_number %}">              
              <span aria-hidden="true" class="material-symbols-outlined arrow">navigate_next</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link inactive" href="#">              
              <span aria-hidden="true" class="material-symbols-outlined arrow">navigate_next</span>
            </a>
          </li>
        {% endif %}
      </ul>
      {% endif %}
      <div class="page-select">
        <label for="page_size_choice">表示件数</label>
        <div class="select-wrapper">
          <select id="select_page_size" name="page_size_choice" onchange="change_page_size();">
            {% for value, text in form.page_size_choice.field.choices %}
            <option value="{{ value }}" {% if value == page_size %} selected {% endif %}>{{ text }}</option>     
            {% endfor %}
          </select>
        </div>
      </div>
    </nav>
  </main>

{% endblock %}
