{% extends "commons/Evc_base.html" %}
{% load static %}
{% load humanize %}

{% block link_block %}
<link rel="stylesheet" type="text/css" href='{% static "Evc_css/FE_SConCreate.css" %}?250515'>
{% comment "下記の部分はコメントアウト" %}
<link rel="stylesheet" type="text/css" href='{% static "Evc_css/FE_ZoomImage.css" %}'>
{% endcomment %}
{% endblock %}
{% block script_block %}
<script src='{% static "js/dialog.min.js" %}' defer></script>
{% comment "下記の部分はコメントアウト" %}
{% endcomment %}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <main>
    <div class="h1-wrapper">
      <h1 class="sub-title">{{ process_title }}</h1>
      {% comment "下記の部分はコメントアウト" %}
      <a href='{{ help_url }}' target="_blank" rel="noopener noreferrer" class="evc-help" ></a>
      {% endcomment%}
    </div>
    <div id="s-toggle" class="sp">
      <span class="material-symbols-outlined">edit_square</span>
    </div>
    <div class="edit-flex">
      <figure id="pdfimage" class="card">
        <div class="card-contents">
          <h2> {{ pdf_name }} </h2>
          {% comment "下記の部分はコメントアウト" %}
          {% if src_pdffile %}
          <h2 style="display:none;"> ここにPDFを表示します</h2>
          {% else %}
          <h2 style="display:none;"> ここに画像を表示します</h2>
          {% endif %}
          {% endcomment %}
          <div class="imagebox" id="imagebox">
            <canvas id="image_canvas"></canvas>
            <div style="display:none;">
              <img id="bk_img" src='{{ imgfile }}'>
            </div>
          </div>
          <button  class="button_image"  onclick="setResize(-1)">ー</button>
          <button  class="button_image"  onclick="setResize(+1)">＋</button>
          {% if src_pdffile %}
          {% comment "下記の部分はコメントアウト" %}
          <h2> ここにPDFを表示します</h2>
          <iframe src="{{ pdffile }}" width="100%" height="100%"></iframe>
          {% endcomment %}
          {% comment "下記の部分はコメントアウト" %}
          <a href="{{ pdffile }}" target="_blank" rel="noopener noreferrer" class="button_image" >PDF表示</a>
          {% else %}
          <a class="button_image" href="{{ imgfile }}" download>画像ダウンロード</a>
          {% endcomment %}
          {% comment "下記の部分はコメントアウト" %}
          <h2> ここに画像を表示します</h2>
          <img src='{{ imgfile }}'  width="90%" >
          <br>
          <a href="{{ imgfile }}" download>画像をダウンロードする</a>
          {% endcomment %}
          {% endif %}
        </div>
      </figure>
      <div id="shiori" class="card">
        <div class="card-contents">
          <h2>テキスト</h2>
          <form id="form1" name="form1" method="post">
            {% csrf_token %}
            {% comment "下記の部分はコメントアウト" %}
            {{ form.evidence_id }}
            {% endcomment %}
            {{ form.fulltext }}
          </form>
        </div>
      </div>

      <aside id="serchcon">
        <h2> 検索条件</h2>
        <form  id="form2" name="form2" method="post">
          {% csrf_token %}
          {% comment "下記の部分はコメントアウト" %}
          {{ form.evidence_id }}
          {% endcomment %}
          <div class="e-data">
            <label class="e-category">カテゴリ
              <div class="select-wrapper">
              {{ form.category }}
              </div>
            </label>
            {{ form.category.errors }}
            <label class="e-duplicate">重複
              <div class="area-duplicate">
                {{ form.duplicate_check}}重複許可
              </div>
            </label>
          </div>
          <label>取引先
            <input type="search" name="partner" value="{{ form.partner.value }}"  size="25" readonly>
          </label>
          {{ form.partner.errors }}
          <label>発行元
            {{ form.publisher }}
            {{ form.publisher.errors }}
          </label>
          <div class="e-data">
            <label>取引日
              {{ form.process_date }}
            </label>
            {{ form.process_date.errors }}
            <label>取引金額
              <!-- {{ form.amount }} -->
              <input type="search" name="amount" value="{{ form.amount.value }}" placeholder="取引金額" pattern="^[0-9]+$" size="12"
                maxlength="12" id="id_amount" readonly>
            </label>
            {{ form.amount.errors }}
          </div>
          <div class="e-data">
            <label>科目
              <input type="search" name="account" value="{{ form.account.value }}"  size="25" readonly>
              {{ form.account.errors }}
              {% comment "下記の部分はコメントアウト" %}
              {{ form.account }}
              {{ form.account.errors }}
              {% endcomment %}
            </label>
            <label>摘要
              {{ form.account_desc }}
              {{ form.account_desc.errors }}
            </label>
          </div>
          <div class="e-data">
            <label>伝票番号
              {{ form.slip_number}}
              {{ form.slip_number.errors }}
            </label>
            <label>支払日
              {{ form.payment_date }}
              {{ form.payment_date.errors }}
            </label>
            {% comment "下記の部分はコメントアウト" %}
            <div >
              <input type="button" class="showModal" value="更新履歴">
            </div>
            {% endcomment %}
          </div>
          {% comment "下記の部分はコメントアウト" %}
          <div class="area-duplicate">
            <input type="checkbox" id="duplicate" name="duplicate" class="duplicate-checkbox" checked />重複許可
          </div>
          {% endcomment %}
  
          <input type="hidden" id="submit_action2" name="submit_action" value="cancel">
        </form>
        {% comment "下記の部分はコメントアウト" %}
        <div class="btn-container edit-reg">
          <span class="material-symbols-outlined">
            check_circle
          </span>
          <input type="button" id="commit" name="commit" onclick="commit()" value="登録">
        </div>
        {% endcomment %}
        <div class="btn-area2 bottom-btn">
          {% comment "下記の部分はコメントアウト" %}
          <div class="btn-container">
            <span class="material-symbols-outlined">
              check_circle
            </span>
            <input type="button" id="commit" name="commit" onclick="commit()" value="登録">
          </div>
            <div class="btn-container">
            <span class="material-symbols-outlined">
              delete
            </span>
            <input type="submit" id="delete_evidence" value="削除 ">
          </div>
          {% endcomment %}
          <div class="btn-container">
            <span class="material-symbols-outlined">
              undo
            </span>
            <input type="button" id="cancel" value="戻る">
          </div>
          {% if object_list %}
          <div class="btn-container">
            <span class="material-symbols-outlined">
            </span>
            <input type="button" class="showModal" value="差分表示">
          </div>
          {% endif %}
        </div>

        {% comment "下記の部分はコメントアウト" %}
        {% endcomment %}
      </aside>
    </div>
    <dialog id="del-record">
      <span class="material-symbols-outlined">
        warning
      </span>
      <p>このレコードを削除します。<br>よろしいですか？</p>
      <div class="btn-area">
        <button id="close">キャンセル</button>
        <button id="scon_delete">削除</button>
      </div>
    </dialog>    
  </main>
  <dialog id="history_list" class="history-dialog">
    <table id="table_item">
      <thead>
      <tr>
        <th>項目名</th>
        <th>変更前</th>
        <th>変更後</th>
        <th>更新日</th>
        <th>更新者</th>
      </tr>
      </thead>
      <tbody id='table_tbody'>
      {% for item in object_list %}
      <tr>
        <td>
          <input type="text" name="item_name_{{forloop.counter}}" value="{{item.item_name}}" readonly>
        </td>
        <td>
          <input type="text" name="before_{{forloop.counter}}" value="{{item.before_value}}" readonly>
        </td>
        <td>
          <input type="text" name="after_{{forloop.counter}}" value="{{item.after_value}}" readonly>
        </td>
        <td>
          <input type="text" name="date_{{forloop.counter}}" value="{{item.update_date}}" readonly>
        </td>
        <td>
          <input type="text" name="user_{{forloop.counter}}" value="{{item.user_name}}" readonly >
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="btn-dialog">
      <button id="closeModal">閉じる</button>
    </div>
  </dialog>

  <script src='{% static "js/Evc_sconshow.min.js" %}?241023' defer></script>
{% endblock %}
  