dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
}

dialog[open] {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) inset, -5px -5px 10px #fff inset;
  padding: 2em;
  background-color: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog .btn-area {
  margin-top: 1em;
}

dialog .btn-dialog {
  margin-top: 1em;
}

dialog button {
  color: #fff;
  width: 100px;
  text-align: center;
  padding-block: 0.4em;
  border-radius: 8px;
  transition: 0.4s;
}

dialog button:hover {
  translate: 0 -5px;
}

dialog button:first-child {
  background: #777;
  margin-right: 1em;
}

dialog button:last-child {
  background: var(--secondary-c);
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

dialog .material-symbols-outlined {
  color: var(--secondary-c);
  font-size: 40px;
  margin-bottom: 16px;
}
