{% extends "commons/Evc_base.html" %}
{% load static %}

{% block link_block %}
<link rel="stylesheet" type="text/css" href='{% static "Evc_css/FE_PassChange.css" %}'>
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block headertitle %}パスワード変更画面{% endblock %}

{% block content %}
  <main>
    <fieldset>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="h1-wrapper">
          <h1 class="sub-title">{{ process_title }}</h1>
          {% comment "下記の部分はコメントアウト" %}
          <a href="{{ help_url }}" target="_blank" rel="noopener noreferrer" class="evc-help" ></a>
          {% endcomment%}
        </div>

        <div class="pass-box u-id">
          <span class="material-symbols-outlined">
            account_circle
          </span>
          <input type="text" id="UID" value="{{ request.user.user_id }}" disabled>
        </div>
        <div class="pass-box">
          <span class="material-symbols-outlined">
            lock_open
          </span>
          <input type="password" name="old_password" placeholder="現在のパスワードを入力" required>
        </div>
        {{ form.old_password.errors }}

        <div class="pass-box">
          <span class="material-symbols-outlined">
            enhanced_encryption
          </span>
          <input type="password" name="new_password1" placeholder="新パスワードを入力" required>
        </div>
        {{ form.new_password1.errors }}

        <div class="pass-box">
          <span class="material-symbols-outlined">
            enhanced_encryption
          </span>
          <input type="password" name="new_password2" placeholder="新パスワードを再入力（確認）" required>
        </div>
        {{ form.new_password2.errors }}
        <p class="lead">英大小文字、数字、アルファベット以外の文字(\は除く)を<br class="sp-hidden">
          組み合わせた半角６桁以上の文字を入力してください。</p>

        <div class="form-Btn">
          <span class="material-symbols-outlined">
            lock_reset
          </span>
          <input type="submit" value="登録">
        </div>

      </form>
    </fieldset>

{% endblock %}
