{% extends "commons/Evc_base.html" %}
{% load static %}
{% load humanize %}

{% block link_block %}
<link rel="stylesheet" type="text/css" href='{% static "Fms_Ocrform/css/FE_SConCreate.css" %}?250515'>
{% comment "下記の部分はコメントアウト" %}
{% endcomment %}
{% endblock %}
{% block script_block %}
<script src='{% static "js/dialog.min.js" %}' defer></script>
{% comment "下記の部分はコメントアウト" %}
{% endcomment %}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
      aside input[type="month"] {
        display: block;
        border-radius: 2em;
        border: 1px solid rgba(225, 225, 225, 0.4);
        transition: 0.5s;
        font-weight: 300;
        width: 100%;
        /* padding: 0.6em 1.2em;
        margin: 0.4em 0 1em; */
        padding: 0.6em 1.2em;
        margin: 0.2em 0 0.5em;
        color: #333;
        background-color: white;
      }
      aside input[type="search"],
      aside input[type="date"] {
        color: #333;
        background-color: white;
      }
{% endblock %}

{% block content %}
  <main>
    <div class="h1-wrapper">
      <h1 class="sub-title">{{ process_title }}</h1>
      {% comment "下記の部分はコメントアウト" %}
      <a href='{{ help_url }}' target="_blank" rel="noopener noreferrer" class="evc-help" ></a>
      {% endcomment%}
    </div>
    <div id="s-toggle" class="sp">
      <span class="material-symbols-outlined">edit_square</span>
    </div>
    <div class="edit-flex">
      <figure id="pdfimage" class="card">
        <div class="card-contents">
          <h2> {{ pdf_name }} </h2>
          {% comment "下記の部分はコメントアウト" %}
          {% if src_pdffile %}
          <h2 style="display:none;"> ここにPDFを表示します</h2>
          {% else %}
          <h2 style="display:none;"> ここに画像を表示します</h2>
          {% endif %}
          {% endcomment %}
          <div class="imagebox" id="imagebox">
            <canvas id="image_canvas"></canvas>
            <div style="display:none;">
              <img id="bk_img" src='{{ imgfile }}'>
            </div>
          </div>
          <button  class="button_image"  onclick="setResize(-1)">ー</button>
          <button  class="button_image"  onclick="setResize(+1)">＋</button>
          {% if src_pdffile %}
          {% comment "下記の部分はコメントアウト" %}
          <h2> ここにPDFを表示します</h2>
          <iframe src="{{ pdffile }}" width="100%" height="100%"></iframe>
          {% endcomment %}
          <a href="{{ pdffile }}" target="_blank" rel="noopener noreferrer" class="button_image" >PDF表示</a>
          {% else %}
          <a class="button_image" href="{{ imgfile }}" download>画像ダウンロード</a>
          {% comment "下記の部分はコメントアウト" %}
          <h2> ここに画像を表示します</h2>
          <img src='{{ imgfile }}'  width="90%" >
          <br>
          <a href="{{ imgfile }}" download>画像をダウンロードする</a>
          {% endcomment %}
          {% endif %}
          {% comment "下記の部分はコメントアウト" %}
          <div id="MovePage">
            {% if page_obj.has_previous %}
            <a href="{% url 'Fms_Ocrform:ocrdata_edit' 'ocrdata' previous_ocrdata_id 1 %}" id="back_btn">
              <span class="material-symbols-outlined arrow">
                arrow_back_ios
              </span>
              <span>前頁</span>
            </a>
            {% else %}
            <a id="back_btn" style="color:gray;" disabled=disabled>
              <span class="material-symbols-outlined">
                arrow_back_ios
              </span>
              <span>前頁</span>
            </a>
            {% endif %}
    
            {% if page_obj.has_next %}
            <a href="{% url 'Fms_Ocrform:ocrdata_edit' 'ocrdata' next_ocrdata_id 1 %}" id="next_btn">
              <span>次頁</span>
              <span class="material-symbols-outlined arrow">
                arrow_forward_ios
              </span>
            </a>
            {% else %}
            <a id="next_btn" style="color:gray;text-decoration:none;">
              <span>次頁</span>
              <span class="material-symbols-outlined">
                arrow_forward_ios
              </span>
            </a>
            {% endif %}
          </div>
          {% endcomment %}
        </div>
      </figure>
      <div id="shiori" class="card">
        <div class="card-contents">
          <h2>テキスト</h2>
          <form id="form1" name="form1" method="post">
            {% csrf_token %}
            {{ form.ocrdata_id }}
            {{ form.fulltext }}
            <div class="btn-area">
              <div class="btn-container">
                <span class="material-symbols-outlined">
                  edit
                </span>
                <input type="button" id="edit" value="編集">
              </div>
              <div class="btn-container">
                <span class="material-symbols-outlined">
                  refresh
                </span>
                <input type="button" id="update" value="更新">
              </div>
            </div>
            <input type="hidden" id="submit_action1" name="submit_action" value="update">
          </form>
        </div>
      </div>

      <aside id="serchcon">
        <h2> 検索条件を編集</h2>
        <form  id="form2" name="form2" method="post">
          {% csrf_token %}
          {{ form.ocrdata_id }}
          <div class="e-data">
            <label>お問い合わせ番号</label>
              {{ form.tr_no }}
              {{ form.tr_no.errors }}
          </div>
          <div class="e-data">
            <label>NXお問い合わせ番号</label>
              {{ form.nx_tr_no }}
              {{ form.nx_tr_no.errors }}
          </div>
          <input type="hidden" id="submit_action2" name="submit_action" value="commit">
        </form>
        {% comment "下記の部分はコメントアウト" %}
        <div class="btn-container edit-reg">
          <span class="material-symbols-outlined">
            check_circle
          </span>
          <input type="button" id="commit" name="commit" onclick="commit()" value="登録">
        </div>
        {% endcomment %}
        <div class="btn-area2 bottom-btn">
          <div class="btn-container">
            <span class="material-symbols-outlined">
              check_circle
            </span>
            <input type="button" id="commit" name="commit" onclick="commit()" value="登録">
          </div>
            <div class="btn-container">
            <span class="material-symbols-outlined">
              delete
            </span>
            <input type="submit" id="delete_data" value="削除 ">
          </div>
          <div class="btn-container">
            <span class="material-symbols-outlined">
              undo
            </span>
            <input type="button" id="cancel" value="戻る">
          </div>
        </div>
        <div id="MovePage">
          {% if page_obj.has_previous %}
          <a href="{% url 'Fms_Ocrform:ocrdata_edit' 'ocrdata' previous_ocrdata_id 1 %}" id="back_btn">
            <span class="material-symbols-outlined arrow">
              arrow_back_ios
            </span>
            <span>前頁</span>
          </a>
          {% else %}
          <a id="back_btn" style="color:gray;" disabled=disabled>
            <span class="material-symbols-outlined">
              arrow_back_ios
            </span>
            <span>前頁</span>
          </a>
          {% endif %}
  
          {% if page_obj.has_next %}
          <a href="{% url 'Fms_Ocrform:ocrdata_edit' 'ocrdata' next_ocrdata_id 1 %}" id="next_btn">
            <span>次頁</span>
            <span class="material-symbols-outlined arrow">
              arrow_forward_ios
            </span>
          </a>
          {% else %}
          <a id="next_btn" style="color:gray;text-decoration:none;">
            <span>次頁</span>
            <span class="material-symbols-outlined">
              arrow_forward_ios
            </span>
          </a>
          {% endif %}
        </div>
      </aside>
    </div>
    <dialog id="del-record">
      <span class="material-symbols-outlined">
        warning
      </span>
      <p>このレコードを削除します。<br>よろしいですか？</p>
      <div class="btn-area">
        <button id="close">キャンセル</button>
        <button id="scon_delete">削除</button>
      </div>
    </dialog>
    {% comment "下記の部分はコメントアウト" %}
    <dialog id="detect_partner">
      <span class="material-symbols-outlined">
        warning
      </span>
      <p>取引先が未登録です。<br>登録を実行してください。</p>
      <div class="btn-area">
        <button onclick="dialog_close()">閉じる</button>
      </div>
    </dialog>
    {% endcomment %}
  </main>
  <!-- <script src='{% static "js/Evc_zoom.min.js" %}?250116' defer></script> -->
  <script src='{% static "Fms_Ocrform/js/Fms_zoom_timesheet.js" %}?250116' defer></script>
{% endblock %}
  