{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
{% endblock %}
{% block script_block %}
    {% comment "下記の部分はコメントアウト" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
    {% endcomment%}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}
{% block extrastyle %}
{% endblock %}


{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>

      <div id="form-area">
        <form name="search_form" id="searchForm" method="post">
          {% csrf_token %}
          <table class="search-table">
            <tr>
              <td>
                <input type="text" name="date" id="datepicker" value="{{ date }}" placeholder="日付" class="datepicker" autocomplete="off" />
              </td>
              <td>
                <input type="text" name="number" id="number" value="{{ number }}" placeholder="社員番号" />
              </td>
              <td>
                <div class="select-box custom-select">
                  {{ form.name }}
                </div>
              </td>
              {% comment "下記の部分はコメントアウト" %}
              <td>
                <input type="text" name="full_name" id="full_name" placeholder="氏名" />
              </td>
              <td>
                <select name="department" id="department">
                  <option value="">部門</option>
                  <option {% if department == "1" %} selected {% endif %} value="1">営業部</option>
                  <option {% if department == "2" %} selected {% endif %} value="2">開発部</option>
                  <option {% if department == "3" %} selected {% endif %} value="3">管理部</option>
                </select>
              </td>
              <td>
                <select name="lodgment" id="lodgment">
                  <option value="">拠点</option>
                  <option {% if lodgment == "1" %} selected {% endif %} value="1">新宿支店</option>
                  <option {% if lodgment == "2" %} selected {% endif %} value="2">渋谷支店</option>
                  <option {% if lodgment == "2" %} selected {% endif %} value="3">上野支店</option>
                </select>
              </td>
              <td>
                <select name="employment" id="employment">
                  <option value="">雇用形態</option>
                  <option {% if employment == "1" %} selected {% endif %} value="1">管理監督者</option>
                  <option {% if employment == "2" %} selected {% endif %} value="2">一般社員</option>
                </select>
              </td>
              {% endcomment%}
              <td>
                <div class="custom-select">
                  <select name="works_status" id="works_status">
                    <option value="">申請状況</option>
                    <option  {% if works_status == "0" %} selected {% endif %} value="0">申請待ち</option>
                    <option  {% if works_status == "1" %} selected {% endif %} value="1">申請中</option>
                    <option  {% if works_status == "2" %} selected {% endif %} value="2">承認済</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="custom-select">
                  <select name="manager_user" id="manager_user">
                    <option value="">承認者</option>
                    <option value="2">中村朋美</option>
                    <option value="4">承認太郎</option>
                    <option value="5">勤怠太郎</option>
                    <option value="6">中村雅孝</option>
                    <option value="8">藤原裕一</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="select-box custom-select">
                  {{ form.kbn }}
                </div>
              </td>
              <td style="margin-right:10px;">
                <input type="submit"  class="btn-image" name="bulk_approval" value="一括承認">
              </td>
            </tr>
          </table>
          <table class="approval-table">
            <thead>
              <tr>
                <th>日付</th>
                <th>社員</th>
                <th >
                  勤務区分
                </th>
                <th>
                  出勤時刻<br />（打刻）
                </th>
                <th>
                  退勤時刻<br />（打刻）
                </th>
                <th>
                  総労働時間
                </th>
                <th>
                  休憩時間
                </th>
                <th>
                  残業時間
                </th>
                <th>
                  残業時間:36
                </th>
                <th>
                  実働時間
                </th>
                <th>
                  所定内労働
                </th>
                <th>
                  法定内時間外労働
                </th>
                <th>
                  法定時間外労働
                </th>
                <th>
                  法定外休日労働
                </th>
                <th>
                  法定休日労働
                </th>
                <th>
                  深夜労働
                </th>
                <th>
                  添付
                </th>
                <th>
                  経費
                </th>
                <th>
                  備考
                </th>
                <th>
                  申請承認
                </th>
              </tr>
            </thead>
            <tbody>
              {% for approval in object_list %}
              <tr>
                <td class="
                {% if approval.is_sunday %}sunday{% elif approval.is_saturday %}saturday{% endif %}
                {% if approval.is_holiday %}holiday{% endif %}
                ">
                  <span>
                    {{ approval.d }}
                  </span>
                  <span>{{ approval.w }}</span>
                  <div class="href-link">
                    <a href="{% url 'Kms_Attendance:request_edit' year month day 3 forloop.counter %}" {% if approval.work_stat == 2 %} hidden {% endif %}>編集</a>
                  </div>
                </td>
                <td style="text-align:left;" class="href-link"><br><a href="{% url 'Kms_Attendance:monthly' year month 2 forloop.counter %}">{{ approval.name }}</a></td>
                {% comment "下記の部分はコメントアウト" %}
                <td style="text-align:left;"><br><a href="{% url 'Kms_Attendance:approval_emp' year month %}">{{ approval.name }}</a></td>
                {% endcomment%}
                <td>
                  <div>{{ approval.kbn_name }}</div>
                  <div>
                    {{ approval.kbn_name2 }}
                  </div>
                </td>
                <td>
                  <div>
                    <span>{{ approval.corret_start }}</span>
                  </div>
                  <div readonly>
                    <span>{{ approval.start }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ approval.corret_end }}
                  </div>
                  <div readonly>
                    <span>{{ approval.end }}</span>
                  </div>
                </td>
                <td>
                  {{ approval.times.work_time }}
                </td>
                <td>
                  {{ approval.times.rest1 }}
                </td>
                <td>
                  {{ approval.times.over_time }}
                </td>
                <td>
                  {{ approval.times.over_time36 }}
                </td>
                <td>
                  {{ approval.times.jitu_work }}
                </td>
                <td>
                  {{ approval.times.syoteinai_work }}
                </td>
                <td>
                  {{ approval.times.hoteinai_jikangai }}
                </td>
                <td>
                  {{ approval.times.hotei_jikangai }}
                </td>
                <td>
                  {{ approval.times.hoteigai_kyu }}
                </td>
                <td>
                  {{ approval.times.hotei_kyu }}
                </td>
                <td>
                  {{ approval.times.midnight_time }}
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <div></div>
                    <div></div>
                </td>
                <td>
                  <span>
                    {{ approval.stat }}
                  </span>
                </td>
              </tr>
              {% comment "下記の部分はコメントアウト" %}
              <input type="hidden" name="object_items" value="{{ approval.uuid }}">
              {% endcomment%}
              {% endfor %}
            </tbody>
          </table>
          <input type="hidden" id="act" name="act">
          <input type="hidden" id="act_id" name="act_id">
        </form>
      </div>
    </main>
{% endblock  %}
{% block extrajs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="{% static 'Kms_Attendance/js/approval.js' %}"></script>
{% endblock %}