{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
            <div class="container">
              <!-- ====================== ▼page ====================== -->
              <div>
                <!-- ================ ▼main ================= -->
                <div id="main">
                  <div >
                    <div class="error">
                    </div>
                    <!-- ===▼area=== -->
                    <div class="area">
                      <div>
                        <table >
                          <tr>
                            <th>社員番号</th>
                            <th>氏名</th>
                            <th>雇用形態</th>
                            <th>部門名</th>
                            <th>拠点名</th>
                          </tr>
                          <tr>
                            <td></td>
                            <td>
                              {{  user_name  }}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <!-- === ▲area=== -->
                    <!-- ===▼tableHeader=== -->
                    <div >
                      <div >
                        <div style="display:inline-block;">
                          <a href="{% url 'Kms_Attendance:approval_emp' month_previous.year month_previous.month %}">前月</a>
                            <span class="month-current">{{ month_current | date:"Y年m月" }}</span>
                          <a href="{% url 'Kms_Attendance:approval_emp' month_next.year month_next.month %}">次月</a>
                        </div>
                        <a class="btn" data-confirm="CSV出力を実行しますか？" href="{% url 'Kms_Attendance:csv_export' month_current.year month_current.month %}">CSV出力</a>
                        <a class="btn" data-confirm="PDF出力を実行しますか？" href="{% url 'Kms_Attendance:pdf_view' month_current.year month_current.month %}">PDF出力</a>
                        <a class="btn" href="{{request.META.HTTP_REFERER}}">戻る</a>
                        <div style="color:red;"></div>
                      </div>

                    </div>
                    <!-- === ▲tableHeader=== -->

                    <div style="color:red;"></div>
                    <form id="form" action="/graphs/12/works/2021-10" accept-charset="UTF-8" method="post">
                      {% csrf_token %}
                      <p>{{ comment }}</p>
                      <div>
                        <table class="calendar">
                          <thead>
                            <tr>
                              <th style="width:80px;">日付</th>
                              <th >
                                勤務区分
                              </th>
                              <th>
                                出勤時刻<br />（打刻）
                              </th>
                              <th>
                                退勤時刻<br />（打刻）
                              </th>
                              <th>
                                総労働時間
                              </th>
                              <th>
                                休憩時間
                              </th>
                              <th>
                                残業時間
                              </th>
                              <th>
                                残業時間:36
                              </th>
                              <!----- #4460 ----->
                              <!----- #4460 ----->
                              <th>
                                実働時間
                              </th>
                              <th>
                                所定内労働
                              </th>
                              <th>
                                法定内時間外労働
                              </th>
                              <th>
                                法定時間外労働
                              </th>
                              <th>
                                法定外休日労働
                              </th>
                              <th>
                                法定休日労働
                              </th>
                              <th>
                                深夜労働
                              </th>
                              <th>
                                添付
                              </th>
                              <th>
                                経費
                              </th>
                              <th>
                                備考
                              </th>
                              <th>
                                申請承認
                              </th>
                            </tr>
                          </thead>
                          {% for day in timestamp %}
                            <tr >
                              <td>
                                <span >
                                {{ day.d }} 
                                </span>
                                <span>{{ day.w }}</span>
                                <div >
                                  <a href="{% url 'Kms_Attendance:request_edit' month_current.year month_current.month day.d 2 %}" {% if day.work_stat == 2 %} hidden {% endif %}>編集</a>
                                </div>
                              </td>
                              <td >
                                <div>{{ day.kbn_name }}</div>
                                <div>
                                  {{ day.kbn_name2 }}
                                </div>
                              </td>
                              <td>
                                <div>
                                  <span>{{ day.corret_start }}</span>
                                </div>
                                <div readonly>
                                  <span>{{ day.start }}</span>
                                </div>
                              </td>
                              <td>
                                <div>
                                  {{ day.corret_end }}
                                </div>
                                <div>
                                  <span>{{ day.end }}</span>
                                </div>
                              </td>
                              <td>
                                {{ day.times.work_time }}
                              </td>
                              <td>
                                {{ day.times.rest1 }}
                              </td>
                              <td>
                                {{ day.times.over_time }}
                              </td>
                              <td>
                                {{ day.times.over_time36 }}
                              </td>
                              <!----- #4460 ----->
                              <!----- #4460 ----->
                              <td>
                                {{ day.times.jitu_work }}
                              </td>
                              <td>
                                {{ day.times.syoteinai_work }}
                              </td>
                              <td>
                                {{ day.times.hoteinai_jikangai }}
                              </td>
                              <td>
                                {{ day.times.hotei_jikangai }}
                              </td>
                              <td>
                                {{ day.times.hoteigai_kyu }}
                              </td>
                              <td>
                                {{ day.times.hotei_kyu }}
                              </td>
                              <td>
                                {{ day.times.midnight_time }}
                              </td>
                              <td>
                              </td>
                              <td>
                              </td>
                              <td>
                                <div></div>
                                <div></div>
                              </td>
                              <td>
                                <span>
                                  <a class="btn  {% if day.work_stat == 2 %} disabled {% endif %}" data-remote="true" href="{% url 'Kms_Attendance:timestamp_stat' month_current.year month_current.month day.d 2 %}">{{ day.stat }}</a>
                                  {% comment "下記の部分はコメントアウト" %}
                                  <a class="btn  {% if day.work_stat == 2 %} disabled {% endif %}" data-remote="true" href="{% url 'Kms_Attendance:approval_stat' month_current.year month_current.month day.d 2 %}">{{ day.stat }}</a>
                                  {% endcomment%}
                                </span>
                              </td>
                            </tr>
                          {% endfor %}
                        </table>
                      </div>
                      <!-- ===　▼areaTotal　=== -->
                      <div class="area" id="areaTotal">
                        <div >
                          <p>出勤状況</p>
                          <table class="calendar">
                            <tr>
                              <th>所定日数</th>
                              <td>{{ obj_getuji.SHOTEI_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>出勤日数</th>
                              <td>{{ obj_getuji.WORK_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>法定外休日出勤日数</th>
                              <td>{{ obj_getuji.HOTEIGAI_WORK_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>欠勤日数</th>
                              <td>{{ obj_getuji.KEKKIN_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>遅刻日数</th>
                              <td>{{ obj_getuji.LATE_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>早退日数</th>
                              <td>{{ obj_getuji.EARLY_COUNT }}日</td>
                            </tr>
                          </table>
                        </div>
                        <div>
                          <p>勤務時間</p>
                          <table class="calendar">
                            <tr>
                              <th>総労働時間</th>
                              <td>{{ obj_getuji.ALL_WORK_TIME }}</td>
                            </tr>
                            <tr>
                              <th>実働時間</th>
                              <td>{{ obj_getuji.JITU_WORK_TIME }}</td>
                            </tr>
                            <tr>
                              <th>残業時間</th>
                              <td>{{ obj_getuji.OVERTIME_TIME }}</td>
                            </tr>
                            <tr>
                              <th>法定休日労働時間</th>
                              <td>{{ obj_getuji.HOTEIKYU_TIME }}</td>
                            </tr>
                            <tr>
                              <th>深夜労働時間</th>
                              <td>{{ obj_getuji.MIDNIGHT_TIME }}</td>
                            </tr>
                            <tr>
                              <th>遅刻時間</th>
                              <td>{{ obj_getuji.LATE_TIME }}</td>
                            </tr>
                            <tr>
                              <th>早退時間</th>
                              <td>{{ obj_getuji.EARLY_TIME }}</td>
                            </tr>
                            <tr>
                              <th>所定不足時間</th>
                              <td>{{ obj_getuji.SHOTEI_LESS_TIME }}</td>
                            </tr>
                          </table>
                          <!----- #4460 ----->
                          <!----- #4460 ----->
                        </div>
                        <div>
                          <p>休日・休暇取得</p>
                          <table class="calendar">
                            <tr>
                              <th>公休日数</th>
                              <td>{{ obj_getuji.HOLIDAY_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>有給休暇日数</th>
                              <td>{{ obj_getuji.YUKYU_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>本日までの有給休暇残数</th>
                              <td>{{ obj_getuji.YUKYU_ZAN_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>夏季休暇日数</th>
                              <td>{{ obj_getuji.KAKIKYU_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>本日までの夏季休暇残数</th>
                              <td>{{ obj_getuji.KAKIKYU_ZAN_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>振替休日日数</th>
                              <td>{{ obj_getuji.FURIKYU_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>本日までの振替休日残数</th>
                              <td>{{ obj_getuji.FURIKYU_ZAN_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>代休日数</th>
                              <td>{{ obj_getuji.DAIKYU_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>本日までの代休残数</th>
                              <td>{{ obj_getuji.DAIKYU_ZAN_COUNT }}日</td>
                            </tr>
                            <tr>
                              <th>休職日数</th>
                              <td>{{ obj_getuji.KYUSHOKU_COUNT }}日</td>
                            </tr>
                          </table>
                        </div>
                        <div>
                          <p>勤務区分</p>
                          <table class="calendar">
                            <tr>
                              <th>有休</th>
                              <td>
                                {{ obj_getuji.MONTH_YUKYU_COUNT }}日
                              </td>
                            </tr>
                            <tr>
                              <th>夏休</th>
                              <td>
                                {{ obj_getuji.MONTH_KAKIKYU_COUNT }}日
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <!-- === ▲areaTotal === -->
                    </form>
                  </div>
                <!-- ================ ▲main ================ -->
                </div>
              <!-- ====================== ▲page ====================== -->
              </div>
            </div>
{% endblock  %}