{% extends "Kms_Attendance/header.html" %}

{% block content_block %}
<div class="jumbotron">
  <h2>会社詳細</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">会社</th>
        <th scope="col">業界</th>
        <th scope="col">地域</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ company_detail.name }}</td>
        <td>{{ company_detail.industory }}</td>
        <td>{{ company_detail.location }}</td>
      </tr>
    <tbody>
  </table>
  <div class="container">
    <p><a class='btn' href="{% url 'Kms_Attendance:update' pk=company_detail.pk %}">更新</a></p>
    <br>
  </div>

  <h2>従業員</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">年齢</th>
        <th scope="col">詳細</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in company_detail.Employees.all %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.age }}</td>
        <td><a href="{% url 'Kms_Attendance:update2' pk=employee.pk %}">詳細</a></td>
      </tr>
      {% endfor %}
     <tbody>
  </table>
  <div class="container">
    <p><a class='btn' href="{% url 'Kms_Attendance:create2' %}">新規登録</a></p>
    <br>
  </div>
  <div><a href="{% url 'Kms_Attendance:delete' pk=company_detail.pk %}">>>>会社情報を削除する</a></div>
</div>
{% endblock %}