{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Edit.css" %}?250213'>
{% endblock %}
{% block script_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'Kms_Attendance/js/request.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>
      <div id="form-area">
        <form method="post"  class="form-user" action="{% url 'Kms_Attendance:daily_edit' year month day %}">
          {% csrf_token %}
          <table id="edit_table" class="edit-table">
            <tbody>
              <tr>
                <th>氏名</th>
                <td>{{ username }}</td>
              </tr>
              <tr>
                <th>社員番号</th>
                <td>{{ form.EMP_ID }}</td>
              </tr>
              <tr>
                <th>日付</th>
                <td>{{ form.date_field }}</td>
              </tr>
              <tr>
                <th>日報</th>
                <td>
                  {{ form.report }}
                </td>
              </tr>
              <tr>
                <th>コメント所属CD</th>
                <td>
                  {{ form.com_ltd_cd }}
                </td>
              </tr>
              <tr>
                <th>コメント社員番号</th>
                <td>
                  {{ form.com_emp_id }}
                </td>
              </tr>
              <tr>
                <th>コメント</th>
                <td>
                    {{ form.comment }}
                </td>
              </tr>
            </tbody>
          </table>
          <table hidden>
          {% for field in form %}
            {% if field.is_hidden %}
              {{ field.as_hidden }}
            {% endif %}
          {% endfor %}
          </table>
          <div class="btn-area">
            <input class="btn-image" type="submit" name="commit" value="登録">
            <input class="btn-image" type="submit" name="cancel" value="戻る">
          </div>
        </form>
      </div>
    </main>
{% endblock  %}
