{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>
      <div id="form-area">
        <div class="calendar-nav">
          {% comment "下記の部分はコメントアウト" %}
          {% endcomment%}
          <a href="{% url 'Kms_Attendance:daily' month_previous.year month_previous.month %}">前月</a>
          <span class="calendar-month">{{ month_current | date:"Y年m月" }}</span>
          <a href="{% url 'Kms_Attendance:daily' month_next.year month_next.month %}">次月</a>
        </div>
        <table class="daily calendar">
          <thead>
            <tr>
              <th>日付</th>
              <th>日報</th>
              <th>コメント</th>
              {% comment "下記の部分はコメントアウト" %}
              <th>コピー登録</th>
              {% endcomment%}
            </tr>
          </thead>
          <tbody>
          {% for day in reports %}
            <tr >
              <td class="
              {% if day.is_sunday %}sunday{% elif day.is_saturday %}saturday{% endif %}
              {% if day.is_holiday %}holiday{% endif %}
              ">
                <P>{{ day.datew }}</P>
                <div>
                  {% comment "下記の部分はコメントアウト" %}
                  <a href="{% url 'Kms_Attendance:daily_list' month_current.year month_current.month day.d %}">{{ day.d }}  {{ day.w }}</a>
                  {% endcomment%}
                  <a href="{% url 'Kms_Attendance:daily_edit' month_current.year month_current.month day.d %}" >編集</a>
                </div>
              </td>
              <td>{{ day.report }}</td>
              <td>{{ day.comment }}</td>
              {% comment "下記の部分はコメントアウト" %}
              <td>
                <a class="btn-image" href="/daily_reports/reports_copy?id=2412">コピー登録</a>
              </td>
              {% endcomment%}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p><a href="#top">ページTOPへ</a></p>
      </div>
    </main>
{% endblock  %}
