{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Edit.css" %}?250213'>
{% endblock %}
{% block script_block %}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}
{% comment "下記の部分はコメントアウト" %}
{% block title %}社員マスタ | {{ 'システムブリッジ'|default:_('Django site admin') }}{% endblock %}
{% endcomment%}

{% block styles %}
{% endblock %}
{% block extrajs %}
    <script src="{% static 'Kms_Attendance/js/request.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
      {% comment "下記の部分はコメントアウト" %}
      {% endcomment%}
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>
      <div  id="form-area">
        {% comment "下記の部分はコメントアウト" %}
        <h2>社員マスタ</h2>
        {% if messages %}
          <ul class="messages">ログイン
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endcomment%}
        <form method="post" class="form-user">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <table id="edit_table" class="edit-table">
            <tbody>
              <tr>
                <th>所属CD</th>
                <td>{{ form.LTD_CD }}</td>
              </tr>
              <tr>
                <th>社員番号</th>
                <td>{{ form.EMP_ID }}</td>
              </tr>
              <tr>
                <th>社員名</th>
                <td>{{ form.EMP_NAME }}</td>
              </tr>
              <tr>
                <th>区分</th>
                <td>{{ form.KBN }}</td>
              </tr>
              <tr>
                <th>フリガナ</th>
                <td>{{ form.EMP_KANA }}</td>
              </tr>
              <tr>
                <th>EvcユーザID</th>
                <td>{{ form.user_id }}</td>
              </tr>
              <tr>
                <th>都道府県</th>
                <td>{{ form.TDFUKEN_CD }}</td>
              </tr>
              <tr>
                <th>住所１</th>
                <td>{{ form.ADD_1 }}</td>
              </tr>
              <tr>
                <th>勤務パターンCD</th>
                <td>{{ form.WORK_PAT_CD }}</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>{{ form.TEL_NO }}</td>
              </tr>
              <tr>
                <th>携帯番号</th>
                <td>{{ form.MOBILE_NO }}</td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td>{{ form.MAIL_ADD }}</td>
              </tr>
              <tr>
                <th>性別</th>
                <td>{{ form.SEX }}</td>
              </tr>
              <tr>
                <th>生年月日</th>
                <td>{{ form.BIRTHDAY }}</td>
              </tr>
              <tr>
                <th>入社日</th>
                <td>{{ form.JOINED_DATE }}</td>
              </tr>
              <tr>
                <th>備考</th>
                <td>{{ form.MEMO }}</td>
              </tr>
              <tr>
                <td>{{ form.id.as_hidden }}</td>
              </tr>
            <tbody>
          </table>

          <div class="btn-area">
            <input type="submit" value="送信">
            {% comment "下記の部分はコメントアウト" %}
            <button type="submit" onClick="javascript:history.go(-1);">戻る</button>
            {% endcomment%}
          </div>
        </form>
      </div>
    </main>
{% endblock %}