{% extends "commons/Kms_base_kintai.html" %}
{% load static %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Kintai.css" %}?250213'>
{% endblock %}
{% block script_block %}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <main>
      <div class="container">
        <form method="post" action="{% url 'Kms_Attendance:result' %}">
        {% csrf_token %}
          <h1>{{  name  }} さん</h1>
          <p><input class="showTime" id="showTime2" readonly name="showTime2"></p>
          <!-- <h2 id="showTime"></h2>-->
          <!-- <p>出勤場所：<input type="hidden" name="place">{{ form.place }}</p>-->
          {{ form.as_p }}
          <p><input type="submit"  class="btn-image" name="start" value="出勤" {% if in_out != 0 %} disabled{% endif %}>
          <input type="submit" name="finish" value="退勤" {% if in_out != 1 %} disabled{% endif %}></p>
        </form>
        {% comment "下記の部分はコメントアウト" %}
        <a href="{% url 'logout' %}">ログアウト</a>
        {% endcomment%}
      </div>
    </main>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'Kms_Attendance/js/clock.js' %}"></script>
{% endblock %}
