{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
  {% comment "下記の部分はコメントアウト" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
  {% endcomment%}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block extrastyle %}
  {% comment "下記の部分はコメントアウト" %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% endcomment%}
{% endblock %}

{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>

      <div  id="form-area">
        <form id="csv_form" action="/outputs/csv_download" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="file" id="file" />
          <input type="hidden" name="kind" id="kind" />
          <input type="hidden" name="oa" id="oa" />
        </form>
        <table class="search-table">
          <tr>
            <td class="custom-select">
              <select name="select" id="select">
                <option value="2021-04" >2021年04月度</option>
                <option value="2021-05" >2021年05月度</option>
                <option value="2021-06" >2021年06月度</option>
                <option value="2021-07" >2021年07月度</option>
                <option value="2021-08" >2021年08月度</option>
                <option value="2021-09" >2021年09月度</option>
                <option value="2021-10" >2021年10月度</option>
                <option value="2021-11" >2021年11月度</option>
                <option value="2021-12" selected>2021年12月度</option>
                <option value="2022-01" >2022年01月度</option>
                <option value="2022-02" >2022年02月度</option>
                <option value="2022-03" >2022年03月度</option>
                <option value="2022-04" >2022年04月度</option>
                <option value="2022-05" >2022年05月度</option>
                <option value="2022-06" >2022年06月度</option>
              </select>
            </td>
            <td>
              ～
            </td>
            <td class="custom-select">
              <select name="select_last" id="select_last">
                <option value="2021-04" >2021年04月度</option>
                <option value="2021-05" >2021年05月度</option>
                <option value="2021-06" >2021年06月度</option>
                <option value="2021-07" >2021年07月度</option>
                <option value="2021-08" >2021年08月度</option>
                <option value="2021-09" >2021年09月度</option>
                <option value="2021-10" >2021年10月度</option>
                <option value="2021-11" >2021年11月度</option>
                <option value="2021-12" selected>2021年12月度</option>
                <option value="2022-01" >2022年01月度</option>
                <option value="2022-02" >2022年02月度</option>
                <option value="2022-03" >2022年03月度</option>
                <option value="2022-04" >2022年04月度</option>
                <option value="2022-05" >2022年05月度</option>
                <option value="2022-06" >2022年06月度</option>
              </select>
            </td>
            <td>
              <input type="text" placeholder="社員番号" name="number" id="number" value="" />
            </td>
            <td>
              <input type="text" placeholder="氏名" name="name" id="name" value="" />
            </td>
            {% comment "下記の部分はコメントアウト" %}
            <td>
              <select name="department" id="department">
                <option value="">部門</option>
                <option value="1">営業部</option>
                <option value="2">開発部</option>
                <option value="3">管理部</option>
              </select>
            </td>
            <td>
              <select name="lodgment" id="lodgment">
                <option value="">拠点</option>
                <option value="1">新宿支店</option>
                <option value="2">渋谷支店</option>
                <option value="3">上野支店</option>
              </select>
            </td>
            <td>
              <select name="employment" id="employment">
                <option value="">雇用形態</option>
                <option value="1">管理監督者</option>
                <option value="2">一般社員</option>
              </select>
            </td>
          {% endcomment%}
          </tr>
        </table>
        <table class="approval-table">
          <thead>
            <tr>
              <th>社員番号</th>
              <th>氏名</th>
              {% comment "下記の部分はコメントアウト" %}
              <th>部門</th>
              <th>拠点</th>
              <th>雇用形態</th>
              {% endcomment%}
            </tr>
          </thead>
          <tbody id="staff_lists">
            {% for report in reports %}
            <tr>
              <td>{{ report.emp_id }}</td>
              <td  class="href-link">
                <a href="{% url 'Kms_Attendance:monthly' year month 9 forloop.counter %}">{{ report.emp_name }}</a>
              </td>
              {% comment "下記の部分はコメントアウト" %}
              <td>管理部</td>
                <td></td>
              <td></td>
              {% endcomment%}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% comment "下記の部分はコメントアウト" %}
        <div>
          表示件数
          <select name="per" id="per" form="search_form">
            <option value="10">10</option>
            <option selected="selected" value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
          件
        </div>
        {% endcomment%}
      </div>
    </main>
{% endblock  %}
