{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
  {% comment "下記の部分はコメントアウト" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
  {% endcomment%}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>

      <div  id="form-area">
        <form name="search_form" id="searchForm" method="post">
          {% csrf_token %}
          <input type="hidden" name="search" id="search" form="search_form" />
          <div class="search-container">
            <table class="search-table">
              <tr>
                <td>
                  <div>
                    <h2 class="month-current">{{ date }}</h2>
                  </div>
                </td>
                <td>
                  <input type="text" name="number" id="number" value="{{ number }}" placeholder="社員番号" />
                </td>
                <td>
                  <input type="text" name="full_name" id="full_name" value="{{ name }}" placeholder="氏名" />
                </td>
                {% comment "下記の部分はコメントアウト" %}
                <td>
                  <select name="department" id="department">
                    <option value="">部門</option>
                    <option {% if department == "1" %} selected {% endif %} value="1">営業部</option>
                    <option {% if department == "2" %} selected {% endif %} value="2">開発部</option>
                    <option {% if department == "3" %} selected {% endif %} value="3">管理部</option>
                  </select>
                </td>
                <td>
                  <select name="lodgment" id="lodgment">
                    <option value="">拠点</option>
                    <option {% if lodgment == "1" %} selected {% endif %} value="1">新宿支店</option>
                    <option {% if lodgment == "2" %} selected {% endif %} value="2">渋谷支店</option>
                    <option {% if lodgment == "2" %} selected {% endif %} value="3">上野支店</option>
                  </select>
                </td>
                <td>
                  <select name="employment" id="employment">
                    <option value="">雇用形態</option>
                    <option {% if employment == "1" %} selected {% endif %} value="1">管理監督者</option>
                    <option {% if employment == "2" %} selected {% endif %} value="2">一般社員</option>
                  </select>
                </td>
                <td class="btn-image">
                  <a href="/kintai/report">戻る</a>
                </td>
                {% endcomment%}
              </tr>
            </table>
            <input type="hidden" name="sort" id="sort" value="asc" form="search_form" />
          </div>
          <table class="approval-table report-table">
            <thead>
              <tr>
                <th>勤務区分</th>
                <th>出勤時刻<br/>(打刻)</th>
                <th>退勤時刻<br/>(打刻)</th>
                <th>社員番号</th>
                <th>氏名</th>
                {% comment "下記の部分はコメントアウト" %}
                <th>部門</th>
                <th>拠点</th>
                <th>雇用形態</th>
                {% endcomment%}
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td >
                  <div>{{ report.kbn_name }}</div>
                </td>
                <td>
                  <div>
                    <span>{{ report.corret_start }}</span>
                  </div>
                  <div readonly>
                    <span>{{ report.start }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ report.corret_end }}
                  </div>
                  <div readonly>
                    <span>{{ report.end }}</span>
                  </div>
                </td>
                <td>{{ report.number }}</td>
                <td class="href-link">
                  <a href="{% url 'Kms_Attendance:monthly' year month 4 forloop.counter %}">{{ report.name }}</a>
                  {% comment "下記の部分はコメントアウト" %}
                  <a href="{% url 'Kms_Attendance:approval_emp' year month %}">{{ report.name }}</a>
                  {% endcomment%}
                </td>
                {% comment "下記の部分はコメントアウト" %}
                <td>{{ report.department }}</td>
                <td>{{ report.lodgment }}</td>
                <td>{{ report.employment }}</td>
                {% endcomment%}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
      {% comment "下記の部分はコメントアウト" %}
      <div>
        <div >
          <select name="per" id="per" form="search_form">
            <option value="">表示件数</option>
            <option selected="selected" value="10">10件</option>
            <option value="20">20件</option>
            <option value="50">50件</option>
          </select>
        </div>
      </div>
      {% endcomment%}
    </main>
{% endblock  %}
{% block extrajs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="{% static 'Kms_Attendance/js/approval.js' %}"></script>
{% endblock %}