{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <main>
      {% comment "下記の部分はコメントアウト" %}
      <div class="container">
        <p>{{  name  }} さん</p>
      </div>
      {% endcomment%}
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>
  
      <div id="form-area">
        <div>
          {% comment "下記の部分はコメントアウト" %}
          <p><img alt="レポート" src="/assets/icon_report_aggregates-052c4c991255a367d82c34ca922362a222b7cf39ede6d32a3dae18a3c179d6d7.png" /></p>
          {% endcomment%}
          <p></p>
          <h2>レポート</h2>
          <div>
            <a class="btn-image" href="{% url 'Kms_Attendance:report_today' %}">今日の出退勤レポート</a>
            {% comment "下記の部分はコメントアウト" %}
            {% endcomment%}
            <a class="btn-image" href="{% url 'Kms_Attendance:report_tukishime' %}">月締状況レポート</a>
            <a class="btn-image" href="{% url 'Kms_Attendance:report_getuji' %}">月次レポート</a>
            <a class="btn-image" href="{% url 'Kms_Attendance:report_holiday' %}">休日管理レポート</a>
          </div>
        </div>
        <div hidden>
          <p>
            {% comment "下記の部分はコメントアウト" %}
            <img alt="グラフ" src="/assets/icon_report_graph01-6e3f22c82c7ff40158b759c1b74df138bea12300fa8096c34d2e6015063720d5.png" />
            {% endcomment%}
          </p>
          <h2>グラフ</h2>
          <div>
            <a class="btn-image" href="/graphs/2021-12">月次グラフ</a>
            <a class="btn-image" href="/graph/work_months">月次勤怠時間グラフ</a>
            <a class="btn-image" href="/graph/work_years">勤怠日数グラフ</a>
          </div>
        </div>
        <div>
          <p>
            {% comment "下記の部分はコメントアウト" %}
            <img alt="データ出力" src="/assets/icon_report_outputs-c58e019f658dc40636ffb2b29efa899dd3981467447930aff4e087540a5178ef.png" />
            {% endcomment%}
          </p>
          <h2>データ出力</h2>
          <div>
            <a class="btn-image" href="{% url 'Kms_Attendance:output_month' %}">月次集計データ出力</a>
            <a class="btn-image" href="{% url 'Kms_Attendance:output_day' %}">日次勤怠データ出力</a>
          </div>
        </div>
      </div>
    </main>
{% endblock  %}

