{% extends "commons/Kms_base_kintai.html" %}
{% load static %}
{% load humanize %}
{% load param_extras_management %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href='{% static "Kms_Attendance/css/FE_Monthly.css" %}?250213'>
{% endblock %}
{% block script_block %}
  {% comment "下記の部分はコメントアウト" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
  {% endcomment%}
{% endblock %}

{% block title %}{{ process_title }}{% endblock %}

{% block styles %}
{% endblock %}

{% block extrastyle %}
  {% comment "下記の部分はコメントアウト" %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% endcomment%}
{% endblock %}

{% block content %}
    <main>
      <div id="s-toggle" class="sp">
        <span class="material-symbols-outlined">search</span>
      </div>
      <div class="h1-wrapper">
        <h1 class="sub-title">{{ process_title }}</h1>
      </div>

      <div  id="form-area">
        <form name="search_form" id="searchForm" method="get">
          <input type="hidden" id="download_type" name="download_type" value="">
          <div class="search-container">
            <table class="search-table">
              <tr>
                <td class="custom-select">
                  <select name="select_date" id="select_date">
                    <option value="{{ year1 }}" selected>{{ year1 }}年度</option>
                    <option value="{{ year2 }}" >{{ year2 }}年度</option>
                    <option value="{{ year3 }}" >{{ year3 }}年度</option>
                  </select>
                  {% comment "下記の部分はコメントアウト" %}
                  <input value="▶" class="btn-image" type="button" id="next_date">
                  {% endcomment%}
                </td>
                <td>
                  <input type="text" name="number" id="number" placeholder="社員番号" />
                </td>
                <td>
                  <input type="text" name="full_name" id="full_name" placeholder="氏名" />
                </td>
                {% comment "下記の部分はコメントアウト" %}
                <td>
                  <select name="department" id="department">
                    <option value="">部門</option>
                    <option value="1">営業部</option>
                    <option value="2">開発部</option>
                    <option value="3">管理部</option>
                  </select>
                </td>
                <td>
                  <select name="lodgment" id="lodgment">
                    <option value="">拠点</option>
                    <option value="1">新宿支店</option>
                    <option value="2">渋谷支店</option>
                    <option value="3">上野支店</option></select>
                  </td>
                <td>
                  <select name="employment" id="employment">
                    <option value="">雇用形態</option>
                    <option value="1">管理監督者</option>
                    <option value="2">一般社員</option>
                  </select>
                </td>
                {% endcomment%}
                <td class="custom-select">
                  <select name="manager_user" id="manager_user">
                    <option value="">承認者</option>
                    <option value="2">中村朋美</option>
                    <option value="4">承認太郎</option>
                    <option value="5">勤怠太郎</option>
                    <option value="6">中村雅孝</option>
                    <option value="8">藤原裕一</option>
                  </select>
                </td>
                <td>
                  <div>
                    <button class="btn-image" id="csv_download">CSV出力</button>
                    {% comment "下記の部分はコメントアウト" %}
                    <a class="btn-image" href="/kintai/report">戻る</a>
                    {% endcomment%}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="form-area">
            <table class="approval-table">
              {% comment "下記の部分はコメントアウト" %}
              <div >
                <!-- ====================== modal ====================== -->
                <div data-remodal-id="free_modal" data-remodal-options="hashTracking:false">
                  <button data-remodal-action="close"></button>
                </div>
                <!-- ====================== modal ====================== -->
                <div >
                  <div >
                  </div>
                  <div>
                    <div>
                      <ul>
                        <li><span class="bg" style="background:#ffebe7;"></span>予定日数未満</li>
                        <li><span class="bg" style="background:#e9f0f6;"></span>予定日数超</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div style="color:red;"></div>
              {% endcomment%}
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th colspan="63" >{{ cur_year }}年</th>
                  <th colspan="21"  >{{ next_year }}年</th>
                  <th rowspan="2" colspan="7" >合計</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th colspan="7">04月</th>
                  <th colspan="7">05月</th>
                  <th colspan="7">06月</th>
                  <th colspan="7">07月</th>
                  <th colspan="7">08月</th>
                  <th colspan="7">09月</th>
                  <th colspan="7">10月</th>
                  <th colspan="7">11月</th>
                  <th colspan="7">12月</th>
                  <th colspan="7">01月</th>
                  <th colspan="7">02月</th>
                  <th colspan="7">03月</th>
                </tr>
                <tr>
                  <th>社員</th>
                  <th>予実</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                  <th>欠勤日数</th>
                  <th>公休日数</th>
                  <th>有給休暇日数</th>
                  <th>夏季休暇日数</th>
                  <th>振替休日日数</th>
                  <th>代休日数</th>
                  <th>特別休暇日数</th>
                </tr>
              </thead>
              <tbody>
                {% for report in reports %}
                <tr>
                  <td rowspan="2">
                    <div></div>
                    <div class="href-link">
                      <a href="{% url 'Kms_Attendance:monthly' month_current.year month_current.month 8 forloop.counter %}">{{ report.name }}</a>
                      {% comment "下記の部分はコメントアウト" %}
                      <a>{{ report.name }}</a>
                      {% endcomment%}
                    </div>
                  </td>
                  <td>
                      <a>予定</a>
                  </td>
                  {% for month in report.yotei %}
                  <td>{{ month.day11 }}</td>
                  <td>{{ month.day12 }}</td>
                  <td>{{ month.day13 }}</td>
                  <td>{{ month.day14 }}</td>
                  <td>{{ month.day15 }}</td>
                  <td>{{ month.day16 }}</td>
                  <td>{{ month.day17 }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <td>実績</td>
                  {% for month in report.jisseki %}
                  {% if forloop.last %}
                    <td>
                      <a>{{ month.day11 }}</a>
                    </td>
                    <td>
                        <a>{{ month.day12 }}</a>
                    </td>
                    <td>
                        <a>{{ month.day13 }}</a>
                    </td>
                    <td>
                        <a>{{ month.day14 }}</a>
                    </td>
                    <td>
                        <a>{{ month.day15 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day16 }}</a>
                    </td>
                    <td>
                        <a>{{ month.day17 }}</a>
                    </td>
                  {% else %}
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day11 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day12 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day13 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day14 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day15 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day16 }}</a>
                    </td>
                    <td>
                      <a href="{% url 'Kms_Attendance:monthly' cur_year month.month 8 %}">{{ month.day17 }}</a>
                    </td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
        {% comment "下記の部分はコメントアウト" %}
        <div>
          表示件数
          <select name="per" id="per" form="search_form">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
          件
        </div>
        {% endcomment%}
      </div>
    </main>
{% endblock  %}
