@import url("a-azborn.css");

h1 {
  font-size: 1.5em;
  text-align: initial;
}

.showTime {
  font-size: 2.0em;
  margin: 0.5em 0;
  border-width: 0;
  /* background-color: #eee; */
}
label {
  color: #aaa;
}
label div {
  color: #333;
}

.container {
  background-color: #e1e1e1;
  padding: 10px 2em;
}


input[type="submit"] {
  background: #fff;
  padding: 0.8em 0 0.8em 2em;
  width: 7em;
  border: 1px solid;
  border-radius: 2em;
  transition: all 0.5s;
  position: relative;
  letter-spacing: 0.1em;
  z-index: 1;
}
input[type="submit"]:not(:disabled):hover {
  box-shadow: 0 0 10px 5px #fff;
  background: rgba(225, 225, 225, 0.2);
  color: white;
}

input[type="submit"][disabled] {
  background:lightgray;
}

form{
display: inline-block;
font-size: large;
}

@media (max-width: 767px) {
  dialog[open] {
    font-size: 0.9em;
    padding: 1em;
  }
}
